section {
  display: none;
}
h1, h2, h5 {
  text-align: center;
}
#map {
  height: 300px;
  display: none;
}
#socialRow img {
  margin-left: auto;
  margin-right: auto;
}
footer {
  color: #666666;
  text-align: center;
  font-size: 0.8em;
  padding-bottom: 10px;
}

@media (max-width: 64em) {
  td {
    font-size: 0.8em;
  }
}
